.add-task-main {
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    scroll-behavior: smooth;
    height: calc(100vh - 130px);
}

.add-task-main-div {
    display: flex;
    flex-direction: column;
}

.add-task-input {
    padding: 10px 0 10px 20px;
    display: flex;
    width: calc(100% - 20px);
    background: #ffffff00;
}

::placeholder {
    color: #00000043;
    font-weight: 300;
}

.description-div {
    display: flex;
    flex-direction: column;
}

.description-input {
    margin-top: 5px;
    border: 1px solid #0000002f;
    height: 100px;
    border-radius: 0 10px 10px 10px;
    font-size: 24px;
    padding: 20px;
}

.date-div {
    display: flex;
    flex-direction: column;
}

.date-input {
    color: #00000043;
    font-size: 24px;
    padding: 10px 20px;
}

.date-input:hover {
    cursor: pointer;
    background: #0000000e;
}

.priority-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.priority-button {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    background: none;
    font-size: 24px;
    font-weight: 300;
    border-radius: 15px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.medium img,
.urgent img,
.low img {
    transition: filter .2s ease, opacity .2s ease;
}



.assigned-div {
    display: flex;
    flex-direction: column;
}

.assigned-select {
    margin-top: 5px;
    color: #00000043;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
}

.assigned-select:hover {
    background: #00000008;
    cursor: pointer;
}

.subtask-input {
    margin-top: 5px;
    color: black;
    font-size: 24px;
    padding: 10px 20px;
}

.subtask-input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-task-icon {
    padding: 10px;
    filter: brightness(0) saturate(100%) invert(40%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.add-task-icon:hover {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background: #4489ff69;
}

.task-create-button {
    padding: 12px;
    background: #448aff;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 250;
    display: flex;
    align-items: center;
}

.create:disabled {
    background-color: #4489ffd7;
    cursor: default;
}

.create img {
    filter: brightness(0) invert(1);
}

.task-create-button:hover {
    background-color: #4489ffd7;
}

.task-create-buttons {
    padding: 0 50px 40px 0;
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: right;
}

.task-create-buttons-div {
    display: flex;
    gap: 20px;
}

.guest {
    background: white;
    color: #0000008b;
    border: 1.5px solid#0000008b;
}

.guest:hover {
    background: #00000011;
}

.added-subtask {
    padding: 5px;
}

input#urgent:checked+.urgent,
.urgent:hover {
    color: white;
    background: #ff3e00;
    cursor: pointer;
}

input#medium:checked+.medium,
.medium:hover {
    color: white;
    background: #ffad21;
    cursor: pointer;
}

input#low:checked+.low,
.low:hover {
    color: white;
    background: #7ee129;
    cursor: pointer;
}

input#urgent:checked+.urgent img,
.urgent:hover img,
input#medium:checked+.medium img,
.medium:hover img,
input#low:checked+.low img,
.low:hover img {
    filter: brightness(0) invert(1);
}